COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
version.xml
gtk-doc.make
install-sh
libaute.pc
libtool
ltmain.sh
missing
.deps
.libs
*.lo
*.o
*.la
*~
