COPYING
INSTALL
Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
version.xml
gtk-doc.make
install-sh
libaute.pc
libtool
ltmain.sh
missing
.deps
.libs
*.lo
*.o
*.la
*~
*.in
config.h
stamp-h1
tests/test
tests/test_confi
tests/test_nogui
tools/zakauthedb-mkpwd
*.tar.gz
*.exe
compile
